<IfModule mod_rewrite.c>
    options -Multiviews
    RewriteEngine on
    RewriteBase /firstsilex/web/
    RewriteCond %{REQUEST_FILENAME} ! -d
    RewriteCond %{REQUEST_FILENAME} ! -f
    RewriteRule ^ index.php [QSA, L]
</IfModule>